* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: green;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.player__deck {
    position: fixed;
    bottom: 5px;
    right: 5px;
    width: 200px;
    height: 300px;
    background-color: red;
}

.cpu__deck {
    position: fixed;
    top: 5px;
    left: 5px;
    width: 200px;
    height: 300px;
    background-color: red;
}

.player__card {
    display: flex;

    width: 200px;
    height: 300px;
    background-color: blue;
    
    margin-top: 5px;
}

.cpu__card {
    display: flex;
    
    width: 200px;
    height: 300px;
    background-color: blue;
    
    margin-bottom: 5px;
    padding: 10px;
}

.card {
    flex-direction: column;
}

.player__deck__back {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 190px;
    height: 290px;
    display: none;
}

.cpu__deck__back {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 190px;
    height: 290px;
    display: none;
}

.cpu__pic {
    width: 190px;
    height: 290px;
    display: none;
    margin: auto;
    z-index: 5;
}

.player__pic {
    width: 190px;
    height: 290px;
    display: none;
    margin: auto;
    z-index: 5;
}

#instructions {
    position: fixed;
    bottom: 20px;
    left: 20px;
    margin: auto;
    width: 190px;
    height: 50px;
    font-size: 2em;
    
    padding: auto;
    z-index: 15;
}

#deal {
    margin: auto;
    width: 100px;
    height: 50px;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: auto;
}

#draw {
    margin: auto;
    width: 100px;
    height: 50px;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: auto;
}

#clear {
    display: flex;
    margin: auto;
    width: 100px;
    height: 50px;
    font-size: 2em;
    justify-content: center;
    align-items: center;
    padding: auto;
}

#restart {
    display: flex;
    margin: auto;
    width: 150px;
    height: 50px;
    font-size: 2em;
    justify-content: center;
    align-items: center;
    padding: auto;
}

#instructions:hover {
    cursor: pointer;
    transform: scale(1.05);
}

#deal:hover {
    cursor: pointer;
    transform: scale(1.05);
}

#draw:hover {
    cursor: pointer;
    transform: scale(1.05);
}

#clear:hover {
    cursor: pointer;
    transform: scale(1.05);
}

#restart:hover {
    cursor: pointer;
    transform: scale(1.05);
}

h2 {
    font-size: 2em;
    z-index: 10;
    margin: auto;
}

h1 {
    font-size: 3em;
    position: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 50px;
    z-index: 10;
}

.buttons-title {
    flex-direction: column;
    
}

.instructions {
    position: absolute;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    width: 100%;
    height: 100vh;
    background-color: teal;
    margin: auto;
    padding: 20px;
    display: none;
    z-index: 10;


    list-style-type: circle;
}